{% extends "layout.html" %}

{% block title %}PYTHON - OTROS LENGUAJES{% endblock %}

{% block content %}
<ul class="list-group">
  <li class="list-group-item">LENGUAJES DE <b>PROGRAMACIÓN</b></li>


  <li class="list-group-item list-group-item-primary"><b>PYTHON</b></li>
  <li class="list-group-item list-group-item-secondary"><b>SQL</b></li>
  <li class="list-group-item list-group-item-success"><b>NODE - JS</b></li>
  <li class="list-group-item list-group-item-danger"><b>RUBY</b></li>
  <li class="list-group-item list-group-item-warning"><b>JAVASCRIPT</b></li>
  <li class="list-group-item list-group-item-info"><b>C++</b></li>
  <li class="list-group-item list-group-item-light"><b>JAVA</b></li>
  <li class="list-group-item list-group-item-dark"><b>C</b></li>
</ul>
{% endblock %}