{% extends "layout.html" %}

{% block title %}PYTHON{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4 text-dark"><b>Hola mundo!</b></h1>
  <p class="lead text-dark">Esto es una prueba de <b>PYTHON + HTML + CSS</b> simplemente un <b>XD</b>.</p>
  <p class="text-dark">Hoy es <b>{{ time }}</b> :> <br>Hora:  <b>{{ hora }}</b> :></p>
  <hr class="my-4 text-dark">
  <p class="text-dark">Ah, lo de abajo es un botón de <b>PRUEBA</b> :></p>
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/xd" role="button">NO ENTRES</a>
  </p>
</div>

{% endblock %}  