{% extends "layout.html" %}

{% block title %}PYTHON - XD{% endblock %}

{% block content %}
<div class="alert alert-danger" role="alert">
  Pedazo de gay - te dije que de <b>PRUEBA</b> -_-
</div>

<div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='img/nose.jpg') }}"">
  <div class="card-body">
    <h5 class="card-title text-dark"><b>"PRUEBA"</b> lee maricon <b>-_-</b></h5>
    <p class="card-text text-dark">Ahora sí, al botón de abajo dale un <b>CLICK</b>.</p>
    <a href="/" class="btn btn-primary">REGRESAR</a>
  </div>
</div>


{% endblock%}